/* geral */
:root {
    --branco: #ffffff;
    --amarelo: #FFD60A;
    --preto: #202020;
    --cinza-claro: #585858b4;
    --cinza-muito-claro: #e0e0e0;
    --cinza-escuro: #333533;
    --borda-redonda: 1em;
    --borda-quadrada: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1% 5%;
}

.titulo {
    font-size: 40px;
    margin: 1em 0;
    color: var(--branco);
    text-align: center;
}

.titulo span {
    color: var(--amarelo);
    font-weight: 500;
}

.logo a {
    text-decoration: none;
}

.logo h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    font-size: 40px;
}

.logo h1 span {
    color: var(--amarelo);
}

.efeito {
    visibility: hidden;
}

.tags {
    display: flex;
    gap: 1em;
    padding: 1em 0;
    align-items: center;
    cursor: default;
    flex-wrap: wrap;
}

.tags p {
    color: var(--branco);
    border-radius: 1em;
    padding: 1%;
    font-weight: 600;
}

.tags p:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.tags #html {
    background-color: rgb(255, 85, 23);
}

.tags #css {
    background-color: rgb(20, 20, 204);
}

.tags #js {
    background-color: rgb(233, 183, 18);
}

.tags #php {
    background-color: rgb(46, 95, 149);
}

.tags #git {
    background-color: rgb(255, 17, 0);
}

.tags #github {
    background-color: #1f1c1c;
}

.tags #sform {
    background-color: rgb(255, 81, 81);
}

.tags #subform {
    background-color: rgb(10, 10, 148);
}

/* cabeçalho */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5em;
    z-index: 50;
    background-color: var(--preto);
    border-bottom: 5px solid var(--amarelo);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

header .interface {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

header .btn-mobile,
header .btn-mobile .fechar {
    display: none;
}

header .menu nav li {
    display: inline-block;
    margin: 0 1em;
}

header .menu nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    color: var(--branco);
    text-decoration: none;
    position: relative;
}

header .menu nav a::after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 0;
    right: 50%;
    top: 100%;
    background-color: var(--branco);
    transition: .2s ease;
}

header .menu nav a::before {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 0;
    top: 100%;
    left: 50%;
    background-color: var(--branco);
    transition: .2s ease;
}

header .menu nav a:hover::after,
header .menu nav a:hover::before {
    width: 50%;
}


/* hero */
#hero {
    height: 100vh;
}

#hero .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#hero .avatar img {
    height: 350px;
    border-radius: 50%;
    border: .5em solid var(--amarelo);
}

#hero .txt-hero {
    width: 60%;
}

#hero .txt-hero h2 {
    font-size: 50px;
    line-height: 1em;
}

#hero .txt-hero h2 span {
    color: var(--amarelo);
    font-size: 70px;
    font-weight: 500;
    padding: 15px 0;
    display: inline-block;
    overflow: hidden;
    border-right: 3px solid var(--preto);
    animation: digitar 4s steps(25) forwards, cursor 1s infinite;
}

@keyframes digitar {
    from {
        max-width: 0%;
    }

    to {
        max-width: 100%;
    }
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

#hero .txt-hero p {
    font-size: 20px;
}

#hero .txt-hero button {
    font-size: 25px;
    position: relative;
    background-color: var(--preto);
    color: var(--branco);
    border: none;
    padding: .5em;
    border-radius: var(--borda-quadrada);
    cursor: pointer;
    overflow: hidden;
    transition: .2s;
}

#hero .txt-hero button span {
    position: relative;
    z-index: 2;
}

#hero .txt-hero button:hover i,
#hero .txt-hero button:hover span {
    color: black;
    transition: ease .2s;
}

#hero .txt-hero button i {
    position: relative;
    color: var(--amarelo);
    z-index: 3;
}

#hero .txt-hero button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    display: block;
    width: 0;
    background-color: var(--amarelo);
    transition: ease-in .2s;
}

#hero .txt-hero button:hover::after {
    width: 100%;
}

/* sobre mim */
#sobre {
    scroll-margin-top: 5em;
    background: radial-gradient(circle, rgba(51, 53, 51, 1) 16%, rgba(32, 32, 32, 1) 51%);
}

#sobre .titulo {
    text-align: left;
    border-bottom: 2px solid var(--amarelo);
    width: 50%;
}

#sobre .container {
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

#sobre .container img {
    border-radius: var(--borda-redonda);
}

#sobre .txt-sobre p {
    color: var(--branco);
    margin-bottom: 1rem;
}

#sobre .txt-sobre p span {
    text-transform: uppercase;
    font-weight: 600;
}

#sobre .txt-sobre button {
    border: none;
    background-color: transparent;
}

#sobre .txt-sobre button a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    position: relative;
    outline: 1px solid var(--amarelo);
    text-decoration: none;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    font-weight: 500;
    background-color: var(--preto);
    border-radius: var(--borda-quadrada);
    font-size: 25px;
    padding: .4em;
    cursor: pointer;
    color: var(--branco);
    overflow: hidden;
    transition: ease .2s;
}

#sobre .txt-sobre button i {
    font-size: 20px;
    color: var(--amarelo);
    transition: ease .2s;
}

#sobre .txt-sobre button a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--amarelo);
    z-index: 0;
    transition: ease .2s;
}

#sobre .txt-sobre button a span,
#sobre .txt-sobre button a i {
    position: relative;
    z-index: 1;
}

#sobre .txt-sobre button a:hover::before {
    width: 100%;
}

#sobre .txt-sobre button a:hover,
#sobre .txt-sobre button a:hover i {
    color: var(--preto);
}

/* projetos */
#projetos {
    scroll-margin-top: 5em;
}

#projetos .container {
    display: flex;
    flex-direction: column;
    gap: 5em;
}

#projetos article {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

#projetos article img {
    height: 15em;
    border-radius: var(--borda-quadrada);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#projetos .titulo {
    color: black;
}

#projetos .txt-projeto {
    width: 30em;
}

#projetos .txt-projeto h5 {
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    padding: .5em 0;
}

#projetos .txt-projeto p {
    text-align: justify;
}

#projetos .btn-projetos {
    display: flex;
    justify-content: center;
    gap: 5em;
    padding: .5em;
}

#projetos .btn-projetos button {
    display: flex;
    gap: .5em;
    width: 10em;
    height: 3.5em;
    padding: 1em;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    border-radius: var(--borda-redonda);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    align-items: center;
    justify-content: space-between;
    border: none;
    transition: all .2s ease-in;
}

#projetos .btn-projetos button span {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

#projetos .btn-projetos button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: var(--preto);
    transition: all .2s;
}

#projetos .btn-projetos button:hover::after {
    width: 100%;
}

#projetos .btn-projetos button:hover span,
#projetos .btn-projetos button:hover i {
    color: var(--branco);
    z-index: 10;
}

#projetos .btn-projetos button:focus {
    outline: 2px solid black;
}

#projetos .btn-projetos i {
    font-size: 30px;
}

#projetos .btn-projetos a {
    text-decoration: none;
}

/* contato */
#contato {
    background-color: #333533;
    scroll-margin-top: 4em;
}

#contato .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25em;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 1em;
    border-radius: var(--borda-redonda);
}

#contato .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cinza-claro);
    height: 100%;
    width: 50%;
    padding: 1em;
    border-radius: var(--borda-redonda) 0 0 var(--borda-redonda);
}

#contato .info h6,
#contato .formulario h6 {
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    color: var(--branco);
}

#contato .info p {
    font-size: 20px;
    color: var(--branco);
    text-align: center;
}

#contato .info a,
#contato .info li {
    display: flex;
    align-items: center;
    gap: 1em;
    color: var(--branco);
    text-decoration: none;
    font-size: 20px;
    margin: .2em 0;
    transition: .2s ease;
    transition-duration: .2s;
}

#contato .info .links {
    width: 100%;
}

#contato .info a {
    padding: .5em;
    background-color: var(--cinza-escuro);
    border-radius: var(--borda-redonda);
    width: 100%;
    justify-content: center;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#contato .info a i {
    color: var(--amarelo);
}

#contato .info a:hover {
    outline: 1px solid var(--amarelo);
}

#contato .container .formulario {
    background-color: var(--preto);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    height: 100%;
    width: 50%;
    padding: 1em;
    border-radius: 0 var(--borda-redonda) var(--borda-redonda) 0;
}

#contato .container form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#contato .container label {
    color: var(--branco);
    font-size: 15px;
    margin-bottom: .1em;
}

#contato .container textarea {
    min-height: 8em;
    resize: none;
}

#contato .container input,
textarea {
    margin-bottom: 1em;
    padding: .5em;
    border: none;
    background-color: var(--cinza-claro);
    border-radius: var(--borda-redonda);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: var(--branco);
    font-size: 15px;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus,
button:focus {
    outline: 1px solid var(--amarelo);
}

#contato .container button {
    height: 3em;
    border-radius: var(--borda-redonda);
    background-color: var(--amarelo);
    border: none;
    cursor: pointer;
    height: 2em;
    font-size: 18px;
    font-weight: 500;
    transition: .2s;
    position: relative;
}

#contato .container button:hover {
    background-color: transparent;
    border: 2px solid var(--amarelo);
    color: var(--amarelo);
}

#contato .container button.loading {
    opacity: .5;
    cursor: not-allowed;
    border: none;
    outline: none;
}

#contato .container button.loading::after {
    content: "";
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid white;
    border-top: 4px solid green;
    position: absolute;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

#contato .container button.success {
    background-color: green;
    border: none;
    outline: none;
}

#contato .container button.success::after {
    content: "✓";
    color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 30px;
    transform: translate(-50%, -50%);
}

/* footer */
footer {
    background-color: black;
    padding: .5em;
    color: white;
    text-align: center;
}

/* obrigado */
#obrigado {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333533;
    height: 100vh;
}

#obrigado .interface {
    display: flex;
    justify-content: center;
    width: 100%;
}

#obrigado .container {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    background-color: #20202094;
    border-radius: var(--borda-redonda);
}

#obrigado .container .txt-obrigado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

#obrigado .container .txt-obrigado p {
    font-size: 30px;
    color: var(--branco);
}

#obrigado .container button {
    font-size: 30px;
    padding: .5em 1.5em;
    border: none;
    border-radius: var(--borda-quadrada);
    cursor: pointer;
    background-color: #333533;
    border: 2px solid var(--branco);
    color: var(--branco);
    position: relative;
    overflow: hidden;
    transition: .5s;
}

#obrigado .container button::after {
    content: "";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 0;
    height: 0;
    width: 100%;
    background-color: #ffd60ab9;
    transition: .3s;
}

#obrigado .container button:hover::after {
    content: "VOLTAR";
    height: 100%;
    top: 0;
}

/* responsividade */
@media screen and (max-width: 1020px) {

    /* geral */
    .logo h1 {
        font-size: 30px;
    }

    .titulo {
        font-size: 30px;
    }

    .tags {
        width: 100%;
        gap: .5em;
        justify-content: center;
        align-items: center;
    }

    /* cabeçalho */
    header {
        height: 4em;
    }

    header .btn-mobile {
        display: block;
        position: absolute;
        top: 10%;
        right: 5%;
        color: var(--amarelo);
        font-size: 40px;
        transition: .2s;
        cursor: pointer;
        z-index: 100;
    }

    header .menu.active .btn-mobile .abrir {
        display: none;
    }

    header .menu.active .btn-mobile .fechar {
        display: block;
    }

    header .menu ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: var(--preto);
        transition: .3s;
        z-index: 50;
        font-size: 25px;
        top: 0;
        right: 0;
        width: 0;
        height: 100vh;
        margin: 0;
        visibility: hidden;
        overflow-y: auto;
    }

    header .menu.active ul::after {
        content: "";
        background-color: var(--preto);
        opacity: .5;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: fixed;
        z-index: -10;
    }

    header .menu ul::before {
        content: "";
        position: relative;
        width: 100%;
        height: 2.5em;
    }

    header .menu ul li {
        width: 100%;
        margin: 0;
    }

    header .menu ul a {
        display: flex;
        width: 100%;
        padding: .6em;
        gap: 0;
        align-items: center;
        justify-content: space-between;
        transition: .2s ease;
    }

    header .menu ul a:hover {
        background-color: var(--cinza-claro);
    }

    header .menu.active ul {
        width: 70%;
        visibility: visible;
    }

    header .menu nav a:hover::after,
    header .menu nav a:hover::before {
        width: 0;
    }

    /* hero */
    #hero .interface {
        flex-direction: column-reverse;
        justify-content: center;
        height: 100%;
    }

    #hero .avatar img {
        height: 12em;
        margin-top: 4em;
    }

    #hero .txt-hero {
        width: 100%;
    }

    #hero .txt-hero h2 {
        font-size: 25px;
        text-align: center;
    }

    #hero .txt-hero h2 span {
        font-size: 40px;
    }

    #hero .txt-hero p {
        font-size: 15px;
        text-align: justify;
    }

    #hero .txt-hero button {
        font-size: 20px;
        width: 100%;
    }

    /* sobre mim */
    #sobre {
        scroll-margin-top: 4em;
    }

    #sobre .container {
        flex-direction: column;
        width: 100%;
        gap: 0;
        padding: 1em 0;
        height: auto;
    }

    #sobre .txt-sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #sobre .container img {
        height: 15em;
    }

    #sobre .titulo {
        text-align: center;
        width: 80%;
    }

    #sobre .txt-sobre p {
        text-align: justify;
    }

    #sobre .txt-sobre button,
    #sobre .txt-sobre button a {
        width: 100%;
    }

    /* projetos */
    #projetos {
        scroll-margin-top: 4em;
    }

    #projetos .interface {
        padding: 0;
    }

    #projetos .container {
        gap: 1em;
        flex-direction: row;
        padding: .5em;
        overflow-x: auto;
    }

    #projetos .container article {
        box-shadow: rgba(0, 0, 0, 0.253) 0px 0px 4px 3px;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--branco);
        padding: .7em;
        gap: 0;
        border-radius: var(--borda-quadrada);
        width: 90vw;
        flex-shrink: 0;
    }

    #projetos .container article img {
        width: 100%;
        height: 10rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: var(--borda-quadrada);
    }

    #projetos .container article:nth-child(2) {
        flex-direction: column-reverse;
    }

    #projetos .container .txt-projeto {
        width: 100%;
        padding: 0;
        margin-top: .5em;
    }

    #projetos .txt-projeto h5 {
        padding: 0;
    }

    #projetos .btn-projetos {
        gap: .5em;
    }

    #projetos .btn-projetos button {
        height: 3em;
        width: 8em;
    }

    /* contato */
    #contato {
        scroll-margin-top: 4em;
    }

    #contato .container {
        flex-direction: column;
        height: auto;
    }

    #contato .info {
        height: 25em;
        border-radius: var(--borda-redonda) var(--borda-redonda) 0 0;
    }

    #contato .container .formulario {
        border-radius: 0 0 var(--borda-redonda) var(--borda-redonda);
        gap: 2em;
    }

    #contato .info li p {
        font-size: 15px;
    }

    #contato .container .formulario,
    #contato .info {
        width: 100%;
    }

    #contato .info a {
        gap: .3em;
    }

    #contato .container label {
        text-align: center;
    }

    #contato .container form input,
    #contato .container form input {
        padding: .8em;
    }

    /* obrigado */
    #obrigado .container {
        width: 100%;
    }

    #obrigado .container p {
        text-align: center;
    }
}

@media (max-width: 1020px) and (orientation: landscape) {

    /* hero */
    #hero {
        height: auto;
    }

    /* projetos */
    #projetos .container article {
        width: 50vw;
    }
}

@media (max-height: 600px) {

    /* hero */
    #hero {
        height: auto;
        margin: 1em 0;
    }
}