/* geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1% 5%;
}

.titulo {
    font-size: 40px;
    margin: 1em 0;
    color: white;
    text-align: center;
}

.titulo span {
    color: #FFD60A;
    font-weight: 500;
}

.logo h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
}

.logo h1 span {
    color: #FFD60A;
}

.tags {
    display: flex;
    gap: 1em;
    padding: 1em 0;
    cursor: default;
    flex-wrap: wrap;
}

.tags p {
    color: white;
    border-radius: 1em;
    padding: 1%;
    font-weight: 600;
}

.tags p:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.tags #html {
    background-color: rgb(255, 85, 23);
}

.tags #css {
    background-color: rgb(21, 21, 253);
}

.tags #js {
    background-color: rgb(233, 183, 18);
}

.tags #btrap {
    background-color: rgb(122, 36, 202);
}

.tags #git {
    background-color: rgb(255, 17, 0);
}

.tags #github {
    background-color: #1f1c1c;
}

.tags #sform {
    background-color: rgb(255, 81, 81);
}

.tags #subform {
    background-color: rgb(10, 10, 148);
}

/* cabeçalho */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5em;
    z-index: 50;
    background-color: #202020;
    border-bottom: 5px solid #FFD60A;
}

header .interface {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

header .btn-mobile {
    display: none;
}

header .menu nav li {
    display: inline-block;
    margin: 0 1em;
}

header .menu nav a {
    color: white;
    text-decoration: none;
}

header .menu nav a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: white;
    transition: .2s ease;
}

header .menu nav a:hover::after {
    width: 100%;
}

/* hero */
#hero {
    height: 100vh;
}

#hero .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#hero .avatar img {
    height: 350px;
}

#hero .avatar {
    background-color: #FFD60A;
    border-radius: 50%;
    padding: .5em;
}

#hero .avatar img {
    border-radius: 50%;
}

#hero .txt-hero {
    width: 60%;
}

#hero .txt-hero h2 {
    font-size: 50px;
    line-height: 1em;
    margin-bottom: .5em;
}

#hero .txt-hero h2 span {
    color: #FFD60A;
    font-size: 70px;
    font-weight: 500;
}

#hero .txt-hero p {
    font-size: 20px;
}

#hero .txt-hero button {
    font-size: 25px;
    position: relative;
    background-color: #202020;
    color: white;
    border: none;
    padding: .5em;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}

#hero .txt-hero button span {
    position: relative;
    z-index: 2;
}

#hero .txt-hero button:hover i,
#hero .txt-hero button:hover span {
    color: black;
}

#hero .txt-hero button i {
    position: relative;
    color: #FFD60A;
    z-index: 3;
}

#hero .txt-hero button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    display: block;
    width: 0;
    background-color: #FFD60A;
    transition: .4s;
}

#hero .txt-hero button:hover::after {
    width: 100%;
}

/* skills */
#skills {
    scroll-margin-top: 5em;
    background: radial-gradient(circle, rgba(51, 53, 51, 1) 44%, rgba(32, 32, 32, 1) 88%);
}

#skills .container {
    display: flex;
    padding: 1em;
    gap: 1.5em;
    height: 20em;
    justify-content: center;
    align-items: center;
    color: white;
}

#skills .container article {
    padding: 1em;
    border-radius: 5px;
    width: 100%;
    height: 80%;
    transition: .2s;
}

#skills .container article:hover {
    transform: scale(1.1);
    outline: 2px solid #FFD60A;
}

#skills .container h4 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5%;
}

#skills .container i {
    font-size: 50px;
    color: #FFD60A;
}

#skills .txt-skills {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* projetos */
#projetos {
    scroll-margin-top: 5em;
}

#projetos .container {
    display: flex;
    flex-direction: column;
    gap: 5em;
}

#projetos article {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

#projetos article img {
    height: 15em;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#projetos .titulo {
    color: black;
}

#projetos .txt-projeto {
    width: 30em;
}

#projetos .txt-projeto h5 {
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    padding: .5em 0;
}

#projetos .txt-projeto p {
    text-align: justify;
}

#projetos .btn-projetos {
    display: flex;
    justify-content: center;
    gap: 5em;
    padding: .5em;
}

#projetos .btn-projetos button {
    display: flex;
    gap: .5em;
    width: 10em;
    height: 3.5em;
    padding: 1em;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    border-radius: 1em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    align-items: center;
    justify-content: space-between;
    border: none;

    transition: all .2s ease-in;
}

#projetos .btn-projetos button span {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

#projetos .btn-projetos button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #1f1c1c;
    border-radius: 1em;
    transition: all .2s;
}

#projetos .btn-projetos button:hover::after {
    width: 100%;
}

#projetos .btn-projetos button:hover span,
#projetos .btn-projetos button:hover i {
    color: white;
    z-index: 10;
}

#projetos .btn-projetos button:focus {
    outline: 2px solid black;
}

#projetos .btn-projetos i {
    font-size: 30px;
}

#projetos .btn-projetos a {
    text-decoration: none;
}

/* contato */
#contato {
    background-color: #333533;
    scroll-margin-top: 4em;
}

#contato .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25em;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 1em;
    border-radius: 1em;
}

#contato .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #585858;
    height: 100%;
    width: 50%;
    padding: 1em;
    border-radius: 1em 0 0 1em;
}

#contato .info h6,
#contato .formulario h6 {
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    color: white;
}

#contato .info p {
    font-size: 20px;
    color: white;
    text-align: center;
}

#contato .info a,
#contato .info li {
    display: flex;
    align-items: center;
    gap: 1em;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: .2em 0;
    transition: .2s ease;
    transition-duration: .2s;
}

#contato .info .links {
    width: 100%;
}

#contato .info a {
    padding: .5em;
    background-color: #333533;
    border-radius: 1em;
    width: 100%;
    justify-content: center;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#contato .info a i {
    color: #FFD60A;
}

#contato .info a:hover {
    outline: 2px solid #FFD60A;
}

#contato .container .formulario {
    background-color: #1f1c1c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    height: 100%;
    width: 50%;
    padding: 1em;
    border-radius: 0 1em 1em 0;
}

#contato .container form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#contato .container label {
    color: white;
    font-size: 15px;
    margin-bottom: .1em;
}

#contato .container textarea {
    min-height: 7em;
    resize: none;
}

#contato .container input,
textarea {
    margin-bottom: 1em;
    padding: .5em;
    border: none;
    background-color: #585858;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
    font-size: 15px;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus,
button:focus {
    outline: 1px solid #FFD60A;
}

#contato .container button {
    height: 3em;
    border-radius: 1em;
    background-color: #FFD60A;
    border: none;
    cursor: pointer;
    height: 2em;
    font-size: 18px;
    font-weight: 500;
    transition: .2s;
    position: relative;
}

#contato .container button:hover {
    background-color: transparent;
    border: 2px solid #FFD60A;
    color: #FFD60A;
}

#contato .container button.loading {
    background-color: #816f16;
    cursor: not-allowed;
    border: none;
    outline: none;
}

#contato .container button.loading::after {
    content: "";
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid white;
    border-top: 4px solid green;
    position: absolute;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

#contato .container button.success {
    background-color: green;
    border: none;
    outline: none;
}

#contato .container button.success::after {
    content: "✓";
    color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 30px;
    transform: translate(-50%, -50%);
}

/* footer */
footer {
    background-color: black;
    padding: .5em;
    color: white;
    text-align: center;
}

/* obrigado */
#obrigado {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333533;
    height: 100vh;
}

#obrigado .interface {
    display: flex;
    justify-content: center;
    width: 100%;
}

#obrigado .container {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    background-color: #20202094;
    border-radius: 1em;
}

#obrigado .container .txt-obrigado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

#obrigado .container .txt-obrigado p {
    font-size: 30px;
    color: white;
}

#obrigado .container button {
    font-size: 30px;
    padding: .5em 1.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #333533;
    border: 2px solid white;
    color: white;
    position: relative;
    overflow: hidden;
    transition: .5s;
}

#obrigado .container button::after {
    content: "";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 0;
    height: 0;
    width: 100%;
    background-color: #ffd60ab9;
    transition: .3s;
}

#obrigado .container button:hover::after {
    content: "VOLTAR";
    height: 100%;
    top: 0;
}

/* responsividade */
@media screen and (max-width: 1020px) {

    /* geral */
    .logo h1 {
        font-size: 30px;
    }

    .titulo {
        font-size: 30px;
    }

    .tags {
        width: 100%;
        gap: .5em;
        justify-content: center;
        align-items: center;
    }

    /* cabeçalho */
    header {
        height: 4em;
    }

    header .btn-mobile {
        display: block;
        color: #FFD60A;
        font-size: 40px;
        transition: .2s;
        cursor: pointer;
    }

    header .btn-mobile .fechar {
        display: none;
    }

    header .menu.active .btn-mobile .abrir {
        display: none;
    }

    header .menu.active .btn-mobile .fechar {
        display: block;
    }

    header .menu ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #333533;
        gap: 1em;
        align-items: center;
        transition: .3s;
        z-index: 100;
        top: 3em;
        font-size: 20px;
        left: 0;
        width: 100%;
        height: 0;
        visibility: hidden;
        overflow-y: hidden;
    }

    header .menu ul li {
        width: 100%;
        margin: 0;
    }

    header .menu ul a {
        width: 100%;
        text-align: center;
        padding: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #202020;
        margin-top: 1em;
    }

    header .menu.active ul {
        height: 100vh;
        visibility: visible;
    }

    header .menu nav a:hover::after {
        width: 0;
    }

    /* hero */
    #hero {
        margin-top: 1.5em;
    }

    #hero .interface {
        flex-direction: column-reverse;
        justify-content: center;
        height: 100%;
    }

    #hero .avatar img {
        height: 12em;
    }

    #hero .txt-hero {
        width: 100%;
    }

    #hero .txt-hero h2 {
        font-size: 25px;
        text-align: center;
    }

    #hero .txt-hero h2 span {
        font-size: 40px;
    }

    #hero .txt-hero p {
        font-size: 15px;
        text-align: justify;
    }

    #hero .txt-hero button {
        font-size: 20px;
        width: 100%;
    }

    /* skills */
    #skills {
        scroll-margin-top: 4em;
    }

    #skills .container {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    #skills .container article {
        border-radius: 0;
        border-bottom: 2px dashed #FFD60A;
    }

    #skills .container article:last-child {
        border-bottom: 0;
    }

    #skills .container article:hover {
        transform: scale(1);
        outline: 0;
    }

    /* projetos */
    #projetos {
        scroll-margin-top: 4em;
    }

    #projetos .container {
        gap: 1.5em;
        margin-bottom: 2em;
    }

    #projetos .container article {
        flex-direction: column;
        background-color: #e0e0e0;
        gap: 0;
        border-radius: 1em;
    }

    #projetos .container article img {
        width: 100%;
        height: 100%;
        border-radius: 1em 1em 0 0;
    }

    #projetos .container article:nth-child(2) {
        flex-direction: column-reverse;
    }

    #projetos .container .txt-projeto {
        width: 100%;
        padding: 0 1em;
    }

    #projetos .container .txt-projeto .btn-projetos {
        gap: 1em;
    }

    /* contato */
    #contato {
        scroll-margin-top: 4em;
    }

    #contato .container {
        flex-direction: column;
        height: auto;
        border-radius: 1em;
    }

    #contato .info {
        height: 25em;
        border-radius: 1em 1em 0 0;
    }

    #contato .container .formulario {
        border-radius: 0 0 1em 1em;
        gap: 2em;
    }

    #contato .info li p {
        font-size: 15px;
    }

    #contato .container .formulario,
    #contato .info {
        width: 100%;
    }

    #contato .info a {
        gap: .3em;
    }

    #contato .container label {
        text-align: center;
    }

    /* obrigado */
    #obrigado .container {
        width: 100%;
    }

    #obrigado .container p {
        text-align: center;
    }
}

@media (max-width: 1020px) and (orientation: landscape) {

    /* hero */
    #hero {
        margin-top: 4.5em;
        height: auto;
    }
}

@media (max-height: 600px) {

    /* hero */
    #hero {
        margin-top: 4.5em;
        height: auto;
        margin-bottom: 1em;
    }
}